@font-face {
	font-family: 'Gilroy-Bold';
	src: url(./fonts/Gilroy-Bold.ttf);
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url(./fonts/Gilroy-SemiBold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

body {
	overflow-x: hidden;
	position: relative;
}

main {
	background-image: url(./images/main.png);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 0 80px;
}

header h2 {
	font-family: Gilroy-Bold;
	font-size: 28px;
	color: white;
	margin-top: 40px;
}

.head-middle {
	display: flex;
	gap: 65px;
	margin-top: 47px;
}

.head-middle a {
	font-family: Gilroy-Medium;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

.forniture {
	width: 18px;
	height: 18px;
}

.karzina {
	width: 34px;
	height: 34px;
	margin-top: 41px;
	position: relative;
}

.karzina-plus {
	font-family: Gilroy-SemiBold;
	color: white;
	text-align: center;
	padding-top: 5px;
	width: 20px;
	height: 25.24px;
	border-radius: 50%;
	background-color: #e58411;
	position: absolute;
	top: 44px;
	left: 1346px;
}

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-top: 92px;
	font-family: Gilroy-Bold;
	font-size: 80px;
	color: white;
	text-align: center;
	text-transform: capitalize;
}

.main-text p {
	margin-top: 14px;
	font-family: Gilroy-Regular;
	font-size: 24px;
	text-align: center;
	color: white;
	opacity: 80%;
}

form {
	margin-top: 45px;
	margin-bottom: 524px;
	width: 27%;
}

.search {
	width: 100%;
	position: relative;
	display: inline-block;
}

input {
	font-size: 18px;
	color: #ffffff;
	padding-right: 90px;
	width: 100%;
	padding: 20px;
	border-radius: 42px;
	border: 0.86px solid #ffffff99;
	backdrop-filter: blur(8px);
	background-color: transparent;
	outline: none;
}

input::placeholder {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 27px;
	text-align: start;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #ffffffa4;
}

span {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #e58411;
	padding: 13px;
	border-radius: 50%;
	cursor: pointer;
}

.search-img {
	width: 20px;
	height: 20px;
}

.why-choosing {
	display: flex;
	margin: 0 80px;
}

.why-choosing h2 {
	font-family: Gilroy-Bold;
	font-size: 40px;
	color: #1e1e1e;
	margin-right: 10%;
	margin-top: 128px;
}

.choosing {
	display: flex;
	flex-direction: column;
	margin-left: 2%;
	margin-top: 120px;
	margin-bottom: 120px;
}

.choosing h4 {
	font-family: Gilroy-Bold;
	font-size: 24px;
	color: #1e1e1e;
}

.choosing p {
	font-family: Gilroy-Regular;
	font-size: 16px;
	color: #1e1e1e;
	margin-top: 20px;
}

.choosing a {
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: #e58411;
	text-decoration: none;
	margin-top: 14px;
}

.choosing img {
	width: 48px;
	height: 24px;
}

.experience {
	position: relative;
	display: flex;
	gap: 11%;
	margin: 0 141px 0 0;
}

.experience-img {
	width: 629px;
	height: 445px;

	margin-top: 306px;
}

.bg-1 {
	width: 495px;
	height: 422px;
	position: absolute;
	top: 240px;
	left: 0;
	z-index: -10;
}

.bg-2 {
	width: 495px;
	height: 301px;
	position: absolute;
	left: 195px;
	top: 378px;
	z-index: -10;
}

.blur {
	width: 555px;
	height: 423px;
	position: absolute;
	left: 20px;
	top: 388px;
	z-index: -10;
}

.experience h6 {
	margin-top: 323px;
	text-transform: uppercase;
	font-family: Gilroy-SemiBold;
	font-size: 18px;
	color: #e58411;
}

.experience h4 {
	margin-top: 20px;
	text-transform: capitalize;
	font-family: Gilroy-Bold;
	font-size: 42px;
	color: #1e1e1e;
}

.experience p {
	margin-top: 20px;
	font-family: Gilroy-Regular;
	font-size: 18px;
	color: #1e1e1e;
	opacity: 80%;
}

.experience a {
	margin-top: 24px;
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: #e58411;
	text-decoration: none;
	margin-top: 14px;
}

.more-img {
	margin-top: 24px;
	width: 48px;
	height: 24px;
}

.materials h6 {
	margin-top: 323px;
	text-transform: uppercase;
	font-family: Gilroy-SemiBold;
	font-size: 18px;
	color: #e58411;
}

.materials h4 {
	margin-top: 20px;
	text-transform: capitalize;
	font-family: Gilroy-Bold;
	font-size: 42px;
	color: #1e1e1e;
}

.materials p {
	margin-top: 20px;
	font-family: Gilroy-Regular;
	font-size: 18px;
	color: #1e1e1e;
	opacity: 80%;
}

.materials a {
	margin-top: 24px;
	font-family: Gilroy-Medium;
	font-size: 14px;
	color: #e58411;
	text-decoration: none;
	margin-top: 14px;
}
.materials {
	margin: 0 0 0 80px;
	display: flex;
	gap: 359px;
}

.material1 {
	width: 223px;
	height: 229px;
	position: absolute;
	bottom: 355px;
	left: 730px;
}

.material2 {
	width: 223px;
	height: 317.04px;
	position: absolute;
	bottom: 0;
	left: 730px;
}

.material3 {
	width: 629px;
	height: 445px;
	/* position: absolute;
	top: 409px;
	left: 995px; */
	position: relative;

	margin-top: 409px;
}

.bg-1-1 {
	width: 495px;
	height: 422px;

	position: absolute;
	bottom: 66px;
	left: 1167px;
	z-index: -10;
}

@media (max-width: 800px) {
	.head-middle {
		display: none;
	}
	.form {
		width: 50%;
	}

	.why-choosing {
		flex-direction: column;
	}

	.experience {
		flex-direction: column;
		margin: 0 0 0 0;
	}
	.text {
		margin: 0 11%;
	}

	.materials {
		margin: 0 0 0 0;
		flex-direction: column;
	}

	.material1 {
		display: none;
	}
	.material2 {
		display: none;
	}
	.material3 {
		display: none;
	}
	.bg-1-1 {
		display: none;
	}

	.experience-img {
		width: 90%;
	}

	.bg-1 {
		width: 70%;
	}

	.bg-2 {
		width: 70%;
	}

	.blur {
		width: 70%;
	}
}

@media (max-width: 550px) {
	.form {
		width: 95%;
	}
}
